DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/postgres
ENV=dev
ALGORITHM=HS256
SECRET_KEY=change-me-with-a-random-secret
ACCESS_TOKEN_EXPIRE=1440
REDIS_URL=redis://localhost:6379/0
MAIL_HOST=mail.example.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=noreply@example.com
MAIL_PASS="your-mail-password"
MAIL_FROM=noreply@example.com
